Repository NathanRodriguesVieira99/Pizza-Shop-Rocketseat: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm test:unit

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,json,jsonc,css,scss,md,mdx}": [
    "npx ultracite format"
  ],
  "src/**/*.{test,spec}.{js,jsx,ts,tsx}": ["pnpm test:unit"]
}

feat(orders): implement OrdersModel, OrdersView, types and ViewModel (page)
  src/pages/app/Orders/OrdersModel.ts
  src/pages/app/Orders/OrdersPage.tsx
  src/pages/app/Orders/OrdersView.tsx
  src/pages/app/Orders/orders-types.d.ts
Due: npx ultracite format

feat(revenue-chart): add RevenueChart component
  src/pages/app/Dashboard/_components/revenue-chart/revenue-chart.model.ts
  src/pages/app/Dashboard/_components/revenue-chart/revenue-chart.tsx
Due: npx ultracite format

feat(popular-orders-chart): add PopularOrdersChart component
  src/pages/app/Dashboard/_components/popular-orders-chart/popular-orders-chart.model.ts
  src/pages/app/Dashboard/_components/popular-orders-chart/popular-orders-chart.tsx
Due: npx ultracite format

feat(day-orders-amount-card): add Service logic with model
  src/pages/app/Dashboard/_components/day-orders-amount-card.tsx
  src/pages/app/Dashboard/_components/day-orders-amount-card/day-orders-amount-card.model.ts
  src/pages/app/Dashboard/_components/day-orders-amount-card/day-orders-amount-card.tsx
Due: npx ultracite format

feat(month-canceled-orders-amount-card): implement GetMonthCanceledOrdersAmount service with model
  src/pages/app/Dashboard/_components/month-canceled-orders-amount-card.tsx
  src/pages/app/Dashboard/_components/month-canceled-orders-amount-card/month-canceled-orders-amount-card.model.ts
  src/pages/app/Dashboard/_components/month-canceled-orders-amount-card/month-canceled-orders-amount-card.tsx
Due: npx ultracite format

feat(month-revenue-card): add MonthRevenueCard component and implement GetMonthRevenueService with model
  src/pages/app/Dashboard/_components/month-revenue-card.tsx
  src/pages/app/Dashboard/_components/month-revenue-card/month-revenue-card.model.ts
  src/pages/app/Dashboard/_components/month-revenue-card/month-revenue-card.tsx
Due: npx ultracite format

feat(month-orders-amount-card): add MonthOrdersAmountCard component with GetMonthOrdersAmount service integration
  src/pages/app/Dashboard/_components/month-orders-amount-card.tsx
  src/pages/app/Dashboard/_components/month-orders-amount-card/month-orders-amount-card.model.ts
  src/pages/app/Dashboard/_components/month-orders-amount-card/month-orders-amount-card.tsx
Due: npx ultracite format

refactor(charts): replace PopularOrdersChart and RevenueChart components
  src/pages/app/Dashboard/_components/popular-orders-chart.tsx
  src/pages/app/Dashboard/_components/revenue-chart.tsx
Due: npx ultracite format

refactor(DashboardView): update import paths for card component files
  src/pages/app/Dashboard/DashboardView.tsx
Due: npx ultracite format

feat(AppLayout): add Axios interceptor for handling unauthorized responses
  src/pages/_layouts/app.tsx
Due: npx ultracite format

feat(AppLayout): add Axios interceptor for handling unauthorized responses
  src/infra/http/HttpClient.ts
  src/infra/http/HttpClientContract.ts
Due: npx ultracite format

refactor(useQueries): add comment for potential refactor
  src/hooks/useQueries.ts
Due: npx ultracite format

fix(biome): enable noNamespaceImport rule for performance
  biome.jsonc
Due: none

refactor(Pagination): improve button structure and add disabled state handling
  src/components/layout/pagination/pagination.tsx
Due: npx ultracite format

feat(components): implement date range picker component with calendar integration
  src/components/ui/calendar.tsx
  src/components/ui/date-range-picker.tsx
  src/components/ui/popover.tsx
Due: npx ultracite format

refactor(ErrorPage): recreate ErrorPage with better error handling
  src/pages/404.tsx
  src/pages/error/error.tsx
Due: npx ultracite format

refactor(Navigation): migrate to createBrowserRouter
  src/routes/navigation.tsx
Due: npx ultracite format

refactor(HttpClient): randomize API delay duration for testing
  src/infra/http/HttpClient.ts
Due: npx ultracite format

feat(OrderDetails): add skeleton loading component for order details
  src/pages/app/Orders/_components/order-details/order-details-skeleton.tsx
  src/pages/app/Orders/_components/order-details/order-details.tsx
Due: npx ultracite format

feat(Dashboard): add skeleton loading to cards
  src/pages/app/Dashboard/_components/day-orders-amount-card/day-orders-amount-card.tsx
  src/pages/app/Dashboard/_components/metric-card-skeleton/metric-card-skeleton.tsx
  src/pages/app/Dashboard/_components/month-canceled-orders-amount-card/month-canceled-orders-amount-card.tsx
  src/pages/app/Dashboard/_components/month-orders-amount-card/month-orders-amount-card.tsx
  src/pages/app/Dashboard/_components/month-revenue-card/month-revenue-card.tsx
Due: npx ultracite format

feat(Charts): add loading state with spinner for popular and revenue charts
  src/pages/app/Dashboard/_components/popular-orders-chart/popular-orders-chart.tsx
  src/pages/app/Dashboard/_components/revenue-chart/revenue-chart.tsx
Due: npx ultracite format

feat(Orders): add loading skeleton for orders table and expose loading state
  src/pages/app/Orders/OrdersModel.ts
  src/pages/app/Orders/OrdersView.tsx
  src/pages/app/Orders/_components/order-table-skeleton/order-table-skeleton.tsx
Due: npx ultracite format

refactor(vitest): remove redundant comments
  vitest.config.ts
Due: none

refactor(tests): remove matchers extension from setup file and add to test-utils file
  src/tests/utils/index.tsx
  vitest.setup.ts
Due: npx ultracite format

refactor(OrderStatus): add OrderStatus component to dedicated folder
  src/pages/app/Orders/_components/order-status/order-status.tsx
Due: npx ultracite format

fix(OrderStatus): update import path for OrderStatus component
  src/pages/app/Orders/_components/order-details/order-details.tsx
  src/pages/app/Orders/_components/order-table-row/order-table-row.tsx
Due: npx ultracite format

docs(tests): simplify README
  src/tests/utils/README.md
Due: npx ultracite format

test(OrderStatus): add data-testid to status spans
  src/pages/app/Orders/_components/order-status/order-status.tsx
Due: npx ultracite format

test(OrderStatus): add tests for all order status scenarios
  src/pages/app/Orders/_components/order-status/order-status.test.tsx
Due: npx ultracite format, pnpm test:unit

fix(SignIn): update import paths for SignInService
  src/pages/auth/Sign-In/SignIn.types.d.ts
  src/pages/auth/Sign-In/SignInModel.ts
  src/pages/auth/Sign-In/SignInPage.tsx
  src/services/api/sign-in.ts
Due: npx ultracite format

fix(SignUp): correct type imports and update restaurantName assignment in useSignUpModel
  src/pages/auth/SignUp/SignUpModel.ts
Due: npx ultracite format

chore(env): clean up .env.example and add .env.test.example
  .env.example
  .env.test.example
Due: none

chore: add .env.test.example to .gitignore
  .gitignore
Due: none

fix(vitest): add MSW cleanups
  vitest.setup.ts
Due: none

fix(tests): export Providers from custom render
  src/services/api/mocks/README.md
  src/tests/utils/index.tsx
Due: npx ultracite format

test(NavLink): add tests to verify current page highlighting
  src/components/layout/nav-link/nav-link.test.tsx
Due: npx ultracite format, pnpm test:unit

test(Pagination): add tests for pagination component functionality
  src/components/layout/pagination/pagination.test.tsx
Due: npx ultracite format, pnpm test:unit

test(SignInView): add tests for default email input value from search params
  src/pages/auth/Sign-In/SignInView.test.tsx
Due: npx ultracite format, pnpm test:unit

fix(config): update envSchema to set default for VITE_ENV and correct VITE_API_BASE_URL type
  src/config/env/config.ts
Due: npx ultracite format

refactor(routes): change SignIn and SignUp to sign-in and sign-up
  src/components/layout/account-menu/account-menu-model.ts
  src/pages/_layouts/app.tsx
  src/pages/auth/Sign-In/SignInView.tsx
  src/pages/auth/SignUp/SignUpModel.ts
  src/pages/auth/SignUp/SignUpView.tsx
  src/routes/navigation.tsx
Due: npx ultracite format
